body{
    background-color: rgb(98, 213, 171);
    overflow: hidden;
}

form{
    background-color: white;
    width: 28%;
    border-radius: 6px;
    margin: 90px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(11, 85, 53);
}

label{
    margin-top: 10px;
}

h1{
    text-align: center;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

input{
    width: 90%;
    border-radius: 4px;
    border: 3px solid #f6efef;
    padding: 5px;
}

button{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}